{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/manageis.css' %}" rel="stylesheet" />
    {%block title%}
    {%endblock%}
</head>
<body class="grid-container">
    <div class="header">
    </div>
    <div class="menu">
        <h2>MANAGE IS</h2>
        {%block menu%}
        {%endblock%}
    </div>
    <div class="main">
        {%block main%}
        {%endblock%}
    </div> 
    <div class="footer">© BYU IS Department</div>
    <script src="{%static 'js/manageis.js'%}"></script>
    <script>
        //this code will show an alert on a certain before the start of each semester
        var fall = "08/30";
        var winter = "12/30";
        var spring = "04/25";
        var summer = "07/12";
        var alerttext = "Its the start of the semester! Remember to increase pay";
        var d = new Date();
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; 
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd = '0'+dd
        }      
        if(mm<10) {
            mm = '0'+mm
        } 
        //today = mm + '/' + dd + '/' + yyyy;
        today = mm + '/' + dd;
        if(today == summer){
        alert(alerttext)
        }
    </script>
</body>
</html>