<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firetable</title>
</head>
<body>
    <h1>Manage IS Employees</h1>
    <h2><a href="http://127.0.0.1:8000">Back to Dashboard</a></h2>
    <div>
        <form method="post">
            <label for="gender">Filter by Gender</label>

            <select name="gender" id="gender">
                <option value="">All</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select>
        </form>
    </div>
    <div>
        <form method="post">
            <label for="position">Filter by Position</label>

            <select name="position" id="position">
                <option value="">All</option>
                <option value="">Loop positions here</option>
            </select>
        </form>
    </div>
    <div>
        <form method="post">
            <label for="semester">Filter by Semester </label>

            <select name="semester" id="semester">
                <option value="">All</option>
                <option value="">Loop here</option>
            </select>
        </form>
    </div>
    <div>
        <form method="post">
            <label for="supervisor">Filter by Supervisor </label>

            <select name="supervisor" id="supervisor">
                <option value="">All</option>
                <option value="">Loop here</option>
            </select>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>BYU Name</th>
                <th>International</th>
                <th>Gender</th>
                <th>Semester</th>
                <th>Year</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Expected Hours</th>
                <th>BYU ID</th>
                <th>Position</th>
                <th>Class Code</th>
                <th>Semester</th>
                <th>Employee Record</th>
                <th>Pay Grade</th>
                <th>Pay Grad Tuition</th>
                <th>Last Pay Increase</th>
                <th>Pay Increase Amount</th>
                <th>Increase Date</th>
                <th>Qualtrics Survey Sent</th>
                <th>e-Form Submitted</th>
                <th>Submission Date</th>
                <th>Authorization to Work</th>
                <th>Authorization Email Date</th>
                <th>Terminated</th>
                <th>Termination Date</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td><a href="">+</a></td>
                <td><a href="">edit</a></td>
                <td><a href="">delete</a></td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </table>
    </div>
    
</body>
</html>