{% extends '../base.html' %}
{%load static %}
{%block title%}
<title>Dashboard</title>
{%endblock%}
{%block menu%}
<h4>Dashboard</h4>
<div > Total Number of Employees </div>
<div > Total number of RA's </div>
<div > Total number of TA's </div>
<a class="main-btn"href="{% url "firetable"%}">Go to Firetable</a>
{%endblock%}
{%block main%}
<h1>Quick View</h1>
<!-- <script type='module' src='https://10az.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script><tableau-viz id='tableau-viz' src='https://10az.online.tableau.com/t/ashlynlewis/views/ISStats/Dashboard1' width='1000' height='827' hide-tabs toolbar='bottom' ></tableau-viz>
<div class="pinboard">
    <div class="graph"> <img class="dashboard-img" src="{% static 'img/pie.png'%}" alt="pie chart"></div>
    <div class="graph"> <img class="dashboard-img" src="{% static 'img/bar.png'%}" alt="bar chart"></div>
</div> -->
<script type='module' src='https://10az.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script><tableau-viz id='tableau-viz' src='https://10az.online.tableau.com/t/ashlynlewis/views/ISStats/Dashboard1' width='1000' height='827' hide-tabs toolbar='bottom' ></tableau-viz>
{%endblock%}
