<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage IS Dashboard</title>
</head>
<body>
    <h1>Manage IS Dashboard</h1>
    <div > Graph 1 goes here</div>
    <div > Graph 2 goes here</div>
    <div > Total Number of Employees </div>
    <div > Total number of RA's </div>
    <div > Total number of TA's </div>
    <button><a href="http://127.0.0.1:8000/firetable">Go to Firetable</a></button>
</body>
</html>